doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/dist/css/bootstrap.min.css')
  body
    block content
      
    footer.footer
      .container
        p.text-muted This is a project for the MIDS w209 DataViz Class
    
  script(src= '/bower_components/jquery/dist/jquery.min.js')
  script(src="http://d3js.org/d3.v3.min.js") 
